---
const { name } = Astro.props;
---

<div>
    ( <input type="text" name={`${name}-from`} class="bg-zinc-700 text-slate-50 text-center rounded-lg p-1 w-7" placeholder="A">, <input type="text" name={`${name}-to`} class="bg-zinc-700 text-slate-50 text-center rounded-lg p-1 w-7" placeholder="B"> )
</div>